<form action="/editNote/<%=id%>" method="POST">
 
    <div class="form-group" style="border:4px outset rgba(119, 0, 255, 0.288);">
      <textarea class="form-control" type="text" id="newtitle" type="text" name="newtitle"  placeholder="Add new Title" style="background-color: rgba(222, 205, 255, 0.87);" rows="1" cols="5"></textarea>
      <textarea class="form-control"  type="text" name="newNote" id="newNote" placeholder="Add new Note" style="background-color: blanchedalmond;" rows="4" cols="50"></textarea>
      <button class="btn btn-success" type="submit">Add Note</button>
     
    </div><br><br>

</form>
